.container{
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    background: #212c39;
    border-radius: 20px;
    width: 40%; 
    position:relative;
    /* height: 850px; */
    padding-top: 40px;
    padding-left: 5%;;
    padding-right: 5%;  
    color: #a0f7a0;
    padding-bottom: 7%;
    margin-bottom: 50px;
}
.btn-group{
    margin-left: 50px;
}


hr{
    margin-left: auto;
    margin-right: auto;
    background-color: #a0f7a0;
    margin-bottom: 30px;
    width:30%;
    height:5px; 
    border-radius: 10px;
}

