<nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">
  <a class="navbar-brand text-uppercase" href="#" id="logo" >Elearning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>        
    </ul> -->
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-2">
          <a  routerLink="/register"> <button class="btn btn-block btn-outline-success" type="button" id="btnSignup">SignUp </button></a> 
        </div>
          <div class="col-md-2">
  
            <a  routerLink="/login"> <button class="btn btn-block btn-outline-success" type="button" id="btnLogin"> Login </button> </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">E-learing</h1>
    <p class="lead">An integrated set of interactive online services that provides the teachers, learners, parents with information, tools and resources to support and
      enhance educational delivery and management; Aiming to access educational curriculum outside of a traditional classroom. </p>
  </div>
</div>

<section class="module parallax parallax-1" data-type="background" data-speed="10">
  <div class="parallax-container">
    <h1>Teacher</h1>
  </div>
</section>

<section  class="module content">
  <div class="parallax-container">
    <h2>Teacher</h2>
    <p>You can now create your own classroom and upload you own contents; videos, lessons and quizzes too. let your students enroll in your courses for free. </p>
  </div>
</section>

<section class="module parallax parallax-2" data-type="background" data-speed="10">
  <div class="parallax-container">
    <h1>Student</h1>
  </div>
</section>

<section class="module content">
  <div class="parallax-container">
    <h2>Student</h2>
    <p>Gain more information by joining classes and taking courses. </p>
  </div>
</section>

<section class="module parallax parallax-3" data-type="background" data-speed="10">
  <div class="parallax-container">
    <h1>Parent</h1>
  </div>
</section>

<section class="module content">
  <div class="parallax-container">
    <h2>Parent</h2>
    <p> Help your child with what they’re learning in school or even help them learn something completely new, and all with you permisson.</p>
  </div>
</section>